.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}


/* Responsive Layout */

/* BLOCCO LEZIONI */

@media screen and (max-width: 768px) {

  .container {
    width: 100%;
    background-color: lightcyan;
  }

  #lezioni .row {
    width: 100%;
    margin-top: 10px;
  }

  #lezioni .row img {
    height: 150px;
  }
}
@media screen and (max-width: 420px) {

  .container {
    width: 100%;
    background-color: cornsilk;
  }

  #lezioni .row {
    width: 100%;
    margin-top: 10px;
  }

  #lezioni .row img {
    height: 100px;
  }
  
  #lezioni .row>.left,
  #lezioni .row>.right {
    width: 100%;
    float: none;
  }
}

/* BLOCCO STEPS */

@media screen and (max-width: 768px) {

  #steps {
    background-color: whitesmoke;
  }

  #steps .row {
    width: 100%;
    margin-top: 10px;
    text-align: center;
  }

  #steps .row > .left {
    float: none;
    width: 100%;
    margin-top: 10px;
    padding-top: 15px;
  }

  #steps .row>.central,
  #steps .row>.right {
    float: left;
    width: 50%;
    padding-top: 20px;
  }

  #steps .row .left img {
    height: 150px;
  }

  #steps .row img {
    height: 100px;
  }
}
  

@media screen and (max-width: 420px) {

  #steps {
    width: 100%;
  }

  #steps .row {
    width: 100%;
    margin-top: 10px;
  }

  #steps .row img {
    height: 100px;
  }

  #steps .row .left img {
    height: 100px;
  }

  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {
    float: none;
    width: 100%;
    padding-top: 15px;
  }
}

/* BLOCCO WHY */

@media screen and (max-width: 768px) {
  #why {
    width: 100%;
    background-color: lightcyan;
  }

  #why .row>.first,
  #why .row>.second,
  #why .row>.third {
    margin-top: 30px;
  }

  #why .row {
    width: 100%;
    margin-top: 10px;
  }

  #why .row img {
    height: 100px;
    padding: 10px;
  }
}
  
@media screen and (max-width: 420px) {

  #why {
    width: 100%;
    background-color: cornsilk;
  }

  #why .row>.first,
  #why .row>.second,
  #why .row>.third {
    margin-top: 30px;
  }

  #why .row {
    width: 100%;
    margin-top: 10px;
  }

  #why .row img {
    height: 70px;
    padding: 10px;
  }
}